/files/qtsdk-friendlyelec
/files/android-ndk-r21e-linux-x86_64.zip
/files/commandlinetools-linux-6609375_latest.zip
/files/git-v2.30.2.tar.gz
/files/java-8-openjdk-amd64.tgz
/files/jdk1.6.0_45.tgz
/files/qt-opensource-linux-x64-5.12.11.run
